<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" >
        <a class="navbar-brand" href="#">Bookers</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to "Home",  user_path(current_user), class:"glyphicon glyphicon-home" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Users",  users_path, class:"glyphicon glyphicon-home" %>
                </li>
                <li class="nav-item">
                   <%= link_to "Books",  users_path, class:"glyphicon glyphicon-home" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Logout",destroy_user_session_path ,method: :delete, class:"glyphicon glyphicon-log-out" %>
                </li>
                 <% else %>
                 <li class="nav-item">
                    <%= link_to "Home", root_path, class:"glyphicon glyphicon-home" %>
                </li>
                <li class="nav-item">
                    <%= link_to "About", home_about_path, class:"glyphicon glyphicon-book" %>
                </li>
                <li class="nav-item">
                    <%= link_to "signup", new_user_registration_path, class:"glyphicon glyphicon-sign-up" %>
                </li>
                <li class="nav-item">
                    <%= link_to "login", new_user_session_path, class:"glyphicon glyphicon-sign-in" %>
                </li>
                 <% end %>
            </ul>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
